<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homework4_4"
        tools:targetApi="31">
        <activity
            android:name="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.OrderActivity"
            android:parentActivityName="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.FourthActivity"
            android:exported="false"
            android:label="@string/title_activity_fourth"
            android:theme="@style/Theme.Homework4_4.NoActionBar"
            android:parentActivityName="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity" />
        </activity>
        <activity
            android:name="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.ThirdActivity"
            android:exported="false"
            android:label="@string/title_activity_third"
            android:theme="@style/Theme.Homework4_4.NoActionBar"
            android:parentActivityName="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity" />
        </activity>
        <activity
            android:name="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.Homework4_4.NoActionBar"
            android:parentActivityName="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity" />
        </activity>
        <activity
            android:name="id.ac.poliban.va.aldy.e020320104.homework4_4.id.ac.poliban.vd.mukhlis.e020320107.homework4_4.homework4_4.homework4_4.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Homework4_4.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>